<!DOCTYPE html>
<html>
<head>
<title>{%block titulo%}CRUD-DJango{%endblock titulo%}</title>

<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
</head>
<body>{%block cuerpo%}

<h1>Bienvenido al CRUD de DJango para Tareas</h1>
<p> A continuación podrás crear, modificar y eliminar tareas</p>

<button >Crear Tarea</button>

<table>
    <table>
        <tr>
          <th>Tarea</th>
          <th>Descripcion</th>
          <th>Día</th>
        </tr>
        <tbody>
          <!-- código de python -->
          {% for tarea in tareas %}
          <tr>
            <td>{{tarea.nombre}}</td>
            <td>{{tarea.descripcion}}</td>
            <td>{{tarea.dia}}</td>

         
          </tr>
          {% endfor %}
        </tbody>

</table>

{%endblock cuerpo%}
</body>
</html> 
